{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

{% set footerContainer = LayoutContainer.show("Ceres::Footer") | trim %}
{% if footerContainer is empty %}

<div class="footer">

    <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
        <i class="fa fa-chevron-up"></i>
    </div>

    <div class="to-top d-md-none" v-scroll-to-top>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>

    {% if numberOfFeatures > 0 %}
        <div class="footer-features py-3 container-max">
            <div class="row">
                {% for i in 1..numberOfFeatures %}
                    <div class="col-12 col-sm-4 text-center">
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                        {{ trans('Ceres::Template.footerStoreFeature' ~ i) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    <div class="container-max pt-4 pb-4">        
        
        <div class="row">            
            <div class="col-6 col-sm-6 col-xs-12 col-lg-4">
                <a href="{{ homepageURL }}">
                    {% if ('http' in companyLogo) or ('layout/' in companyLogo) %}
                        <img alt="{{ companyName }}" src="https://cdn03.plentymarkets.com/ypyl0bpdg0dx/frontend/beGLOSS/logo_begloss_small_inverted.jpg" class="img-fluid" />                    
                    {% endif %}
                </a>
                <br />
                <small>&copy; Copyright {{ "now" | date("Y") }} | {{ trans("Ceres::Template.footerAllRightsReserved") }}</small>
            </div>
            {% for i in 1..numberOfCols %}
                <div class="col-6 col-sm-6 col-xs-12 col-lg-2">
                    <nav class="footer-column mb-4">
                        <h2 class="h5">{{ trans('Ceres::Template.footerColumnTitle' ~ i) }}</h2>
                        <ul class="list-unstyled">

                            {% set footerCategories = config('Ceres.footer.col_' ~ i ~ '_categories') | find("[0-9]+") %}
                            {% for catID in footerCategories %}

                                {% set cat = services.category.get(catID, lang) %}

                                {% if cat is not null %}
                                    {% set displayedCategories = displayedCategories | merge([catID]) %}
                                    <li>
                                        <a href="{{ services.category.getURL( cat ) }}">
                                            {{ cat.details.first.name }}</a>
                                    </li>
                                {% endif %}

                            {% endfor %}

                        </ul>
                    </nav>
                </div>
            {% endfor %}
            <div class="col-6 col-sm-6 col-xs-12 col-lg-2">
                <nav class="footer-column mb-4">
                    <h2 class="h5">beGloss Social</h2>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.instagram.com/begloss/" target="_blank">Instagram</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/begloss.shop/" target="_blank">Facebook</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCBNWokf0enZZM5MaaTawTng" target="_blank">Youtube</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/beGLOSS" target="_blank">Twitter</a>
                        </li>
                    </ul>
                </nav>
            </div>            
        </div>            
    </div>    
</div>
<div class="footer dark">
    <div class="container-max footer-content pt-4 pb-4">
        <div class="row">
            <div class="col-12">
                <div class="footer-services mt-4">
                    <img src="" />
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="footer container-max">
        <div class="row">
            <div class="col clearfix">
                {{ footerContainer | raw }}
            </div>
        </div>
        <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
            <i class="fa fa-chevron-up"></i>
        </div>

        <div class="row">
            <div class="to-top hidden-md-up" v-scroll-to-top>
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </div>
        </div>
    </div>
{% endif %}